core
*.*~
*.a
*.bak
*.bin
*.dbg
*.dcu
*.dll
*.drc
*.exe
*.ico
*.identcache
*.local
*.lps
*.map
*.o
*.obj
*.or
*.ppu
*.res
*.res
*.rsj
*.rst
*.sublime-project
*.sublime-workspace
*.~*~
*~
__history
backup/*
*/backup/*
debug_log/*
lib/i386-win32/*.lfm
lib/x86_64-linux/*.lfm
Participante*/*

# link
stimulus_control

# tests
tests/*/lib/*
tests/fancy_timer/fancy_timer
tests/gettickcount_tweak/tickcount
tests/schedules/schedules_test
tests/timing/timing
tests/timestamp_comparison/timestamp_comparison
tests/zmq_subscriber/dependency/*
tests/zmq_subscriber/zmq_subscriber
tests/pupil_communication/pupil_example
tests/lacs-matrix/cultural_matrix