[submodule "dependency/delphizmq"]
	path = dependency/delphizmq
	url = git@github.com:cpicanco/delphizmq.git
[submodule "dependency/msgpack-delphi"]
	path = dependency/msgpack-delphi
	url = git@github.com:cpicanco/msgpack-delphi.git
