core
*.*~
*.a
*.csv
*.xml
*.bak
*.bin
*.dbg
*.dcu
*.dll
*.drc
*.exe
*.ico
*.identcache
*.local
*.lps
*.map
*.o
*.obj
*.or
*.ppu
*.res
*.res
*.rsj
*.rst
*.sublime-project
*.sublime-workspace
*.~*~
*~
__history
media/*
data/*
backup/*
*/backup/*
lib/*/*.lfm
/src/*/backup/*

# self
debug_log/*
Participante*/*
docs/config_examples/Data/*
*last.bloc.ini
*last.blocs.ini
*last_session.ini
releases/*
!releases/*.py
languages/*win10*.po
experiment_deb64
lib/x86_64-win64/eduardo_experiment.compiled
lib/x86_64-win64/augusto_experiment.compiled
lib/x86_64-linux/augusto_experiment.compiled
src/tests/geometric_progression
src/tests/lib/x86_64-linux/
experiment.zip
configuracoes
*.zip
