core
*.bak
*.res
*.bin
*.dbg
*.dcu
*~
*.*~
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
backup/*
my_backups
my_backups/*
lib/x86_64-linux/*.o
lib/x86_64-linux/*.or
lib/x86_64-linux/*.res
lib/x86_64-linux/*.ppu
lib/x86_64-linux/*.rst
forms/*.*~
forms/backup/*
units/*.*~
units/backup/*
units/my_backups/*
Participante1/*
tests/zmq_subscriber/dependency/*
tests/zmq_subscriber/*.o
tests/zmq_subscriber/*.or
tests/zmq_subscriber/*.ppu
tests/zmq_subscriber/*.rst
tests/zmq_subscriber/zmq_subscriber
tests/zmq_subscriber/*.sublime-project
tests/zmq_subscriber/*.sublime-workspace